html{
font-family:sans-serif;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
}
body {
  background: #1c222a;
  color: #e1e7ec;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}
img {
border:none;
max-width: 480px;
}
a {
text-decoration: none;
color: #cc2040;
}
a:hover {
text-decoration: none;
color: #fff;
}	

#wrapper {max-width: 800px;
margin: 0 auto;
}
/* HEADER */

.kepala {
            color: #ff5373;
            padding: 10px 20px;
            text-align: left;
        }

        .kepala h1 {
            margin: 0;
            font-size: 1.5em;
        }
        .judul-blog {
     margin: 0;
            font-size: 1.5em;
}
        .kepala p {
            margin: 5px 0 0;
            font-size: 0.8em;
            color: #fff;
        }

        /* Navigasi */
        nav {margin:20px 0; background-color: #cc2040; /*#ff5373;*/padding: 10px 0; overflow-x: auto; /* Memungkinkan scroll horizontal */ white-space: nowrap; /* Mencegah item melompat ke baris baru */ -webkit-overflow-scrolling: touch; /* Untuk scrolling yang lebih mulus di iOS */ /* Tambahan untuk membuat sticky */ position: sticky; /* Membuat elemen "lengket" */ top: 0; /* Menempel di bagian atas viewport saat discroll */ z-index: 1000; /* Memastikan navigasi tetap di atas elemen lain */ width: 100%; /* Memastikan navigasi mengambil lebar penuh */ }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: flex; /* Mengatur item navigasi dalam satu baris */
            justify-content: left; /* Pusatkan item navigasi */
            max-width: 1200px; /* Batasi lebar navigasi */
        }

        nav ul li {
            display: inline-block; /* Agar item tetap dalam satu baris */
        }

        nav ul li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 5px 20px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            font-size: 0.8em;
        }

        nav ul li a:hover {
            background-color: #197faf;
        }

/* POST */


.blog-section {
  background-color: #1c222a;
  color: #e1e7ec;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 40px 5%;
  max-width: 800px;
}

.heading-section {
  font-size: 12.36px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.posting-title {
  color: #e1e7ec;
}

.posts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 35px 4%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .posts-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 35px 4%;
    justify-content: space-between;
  }
}
.post-container {
  box-sizing: border-box;
}

.post-thumbnail {
  display: flex;
  align-items: center;
  aspect-ratio: 3 / 2;
  border-radius: 6px;
  /* margin-bottom: 2rem; */
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
}

.post-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 6px;
  transition: background-color 150ms ease-in-out;
}

.post-meta-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  gap: 10px;
  line-height: 1.4;
}

.post-meta-label {
  color: #657386;
  display: flex;
  flex-wrap: wrap;
  gap: 7px 5px;
}

.label-name a {
  color: #ff5373;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.post-meta-comment {
  text-align: right;
}

.comment-link {
  color: #ff5373;
  text-decoration: none;
}

.post-title {
  color: #f8f9fa;
  font-size: calc(-12.12px + 1.5rem + 3.18vw);
  letter-spacing: -0.6px;
  line-height: 1.34;
  /* margin: calc(-3.44px + 0.8rem + 1.42vw) 0; */
  margin: 8px 0;
}

.post-title a {
  color: #f8f9fa;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-size: 16px;
}

.post-meta-bottom {
  color: #b8c4cd;
  font-size: 10.9px;
  line-height: 1.2;
}

.author-name {
  font-weight: bold;
}

.post-meta-separator {
  color: #657386;
}

/* footer */
.site-footer {
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.05em;
}
