---
layout: default
---

<h2>{{ page.title }}</h2>
  <div class="posts-wrapper">
    {% for post in site.posts %}
      <article class="post-container">

        {% assign img_src = post.content | split: '<img' | last | split: 'src="' | last | split: '"' | first %}
        {% if img_src contains 'http' %}
          <div class="post-thumbnail">
            <a href="{{ post.url }}">
              <img src="{{ img_src }}" alt="{{ post.title }}">
            </a>
          </div>
        {% endif %}

        <div class="post-meta-top">
          <div class="post-meta-label">
            {% for cat in post.categories %}
              <span class="label-name">
                <a href="/kategori/{{ cat | downcase }}/">{{ cat }}</a>
              </span>
            {% endfor %}
          </div>
        </div>

        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="post-meta-bottom">
          <span class="author-by">By</span>
          <span class="author-name">Mas Sugeng</span>
          <span class="post-meta-separator">•</span>
          <span class="post-meta-date">{{ post.date | date: "%d %B %Y" }}</span>
        </div>

      </article>
    {% endfor %}
  </div>



{% if paginator.total_pages > 1 %}
<nav class="pagination">
  <ul>
    {% assign current = paginator.page %}
    {% assign total = paginator.total_pages %}

    {% if current > 1 %}
      <li><a href="{{ paginator.previous_page_path }}">←</a></li>
    {% endif %}

    {% assign pages = "" | split: "" %}
    {% assign range = 2 %}
    
    {% for i in (1..total) %}
      {% if i == 1 or i == total or i == current or i == current-1 or i == current+1 %}
        {% assign pages = pages | push: i %}
      {% endif %}
    {% endfor %}

    {% assign last = 0 %}
    {% for page_num in pages %}
      {% if page_num != last | plus:1 %}
        <li><span class="ellipsis">…</span></li>
      {% endif %}
      
      {% if page_num == current %}
        <li><span class="current">{{ page_num }}</span></li>
      {% else %}
        {% if page_num == 1 %}
          <li><a href="/">1</a></li>
        {% else %}
          <li><a href="/page/{{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
      {% endif %}
      
      {% assign last = page_num %}
    {% endfor %}

    {% if current < total %}
      <li><a href="{{ paginator.next_page_path }}">→</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}


